/* width */
@media (min-width: 1369px) {
    .touch-buttons {
        display: none;
    }
}

@media (max-width: 895px) {
    header h1 {
        font-size: 44Px;
    }
}

@media (max-width: 768px) {
    canvas {
        width: 90%;
        height: auto;
    }
}

@media (max-width: 710px) {
    header h1 {
        text-align: center;
        padding-right: 20px;
    }
}

@media (max-width: 580px) {
    canvas {
        display: none;
    }

    .touch-buttons {
        display: none;
    }

    .rotate-device {
        display: block;
    }

    header nav {
        display: none;
    }

    header h1 {
        font-size: 32px;
    }
}

/* height */
@media (max-height: 830px) {
    .touch-buttons {
        bottom: 60px;
    }
}

@media (max-height: 858px) {
    header h1 {
        font-size: 38px;
        margin: 10px 0;
    }
}

@media (max-height: 700px) {
    .touch-btn {
        width: 70px;
        height: 50px;
    }

    footer a {
        font-size: 14px;
    }
}

@media (max-height: 670px) {
    header h1 {
        font-size: 32px;
        margin: 8px 0;
    }

    .touch-btn {
        width: 60px;
        height: 40px;
    }
}

@media (max-height: 650px) {
    .touch-buttons {
        bottom: 20px;
    }
}

@media (max-height: 610px) {
    canvas {
        height: 60%;
        width: auto;
    }
}

@media (max-height: 520px) {
    header h1 {
        font-size: 28px;
        margin: 5px 0;
    }

    .canvas-btn {
        padding: 8px 12px !important;
        font-size: 14px;
    }
}

@media (max-height: 470px) {
    dialog {
        z-index: 100;
    }

    dialog .dialog-content {
        font-size: 18px;
        height: 80%;
        top: 50%;
        overflow: auto;
    }
}