/* width */
@media (min-width: 1367px) {
    .touch-buttons {
        display: none;
    }
}

@media (max-width: 895px) {
    header h1 {
        font-size: 44px;
    }
}

@media (max-width: 768px) {
    canvas {
        width: 90%;
        height: auto;
    }
}

@media (max-width: 710px) {
    header h1 {
        text-align: center;
        padding-right: 20px;
    }

    .end-image {
        width: 450px;
        height: 250px;
    }
}

@media (max-width: 530px) {
    .canvas-button-container {
        flex-direction: column;
    }
}

/* height */
@media (max-height: 858px) {
    header h1 {
        font-size: 38px;
        margin: 10px 0;
    }
}

@media (max-height: 735px) {
    .end-image {
        width: 450px;
        height: 250px;
    }
}

@media (max-height: 700px) {
    footer a {
        font-size: 14px;
    }
}

@media (max-height: 670px) {
    header h1 {
        font-size: 32px;
        margin: 8px 0;
    }
}

@media (max-height: 610px) {
    canvas {
        height: 63%;
        width: 60%;
    }
}

@media (max-height: 735px) {
    .end-image {
        top: 50%;
    }
}

@media (max-height: 520px) {
    header h1 {
        font-size: 28px;
        margin: 5px 0;
    }

    .canvas-btn {
        padding: 8px 12px !important;
        font-size: 14px;
    }

    .end-image {
        width: 250px;
        height: 150px;
    }
}

@media (max-height: 470px) {
    dialog {
        z-index: 100;
    }

    dialog .dialog-content {
        font-size: 18px;
        height: 80%;
        top: 50%;
        overflow: auto;
    }
}

/* Desktop */
@media (hover: hover) and (pointer: fine) {
    .touch-buttons {
        display: none;
    }

    .rotate-device {
        display: none;
    }
}

/* Mobile Portrait */
@media (hover: none) and (pointer: coarse) and (orientation: portrait) {
    .rotate-device {
        display: flex;
    }

    canvas {
        display: none;
    }

    .touch-buttons {
        display: none;
    }

    .canvas-button-container {
        display: none;
    }

    .end-image {
        display: none;
    }

    header nav {
        display: none;
    }
}

/* Mobile Landscape */
@media (hover: none) and (pointer: coarse) and (orientation: landscape) {
    .rotate-device {
        display: none;
    }

    canvas {
        display: block;
    }

    .touch-buttons {
        display: flex;
    }

    .canvas-button-container {
        display: flex;
    }
}