/* smartphone align */
@media only screen and (max-width: 780px) {
    canvas {
        width: 90%;
        height: auto;
    }

    .info {
        width: 90%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
        width: auto;
    }
    
}