/* body style */
body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(../assets/img_pollo_locco/img/5_background/background_desert.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* headline style */
h1 {
    font-family: 'Rye', serif;
    font-size: 62px;
    color: #662900;
    text-shadow: 2px 2px 4px #000000;
}

/* canvas style */
canvas {
    border: 10px solid black;
    border-radius: 15px;
}

/* info section style */
.info {
    height: 25%;
    width: 70%;
    color: #333333;
    font-family: 'Special Elite', monospace;
    font-size: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}

/* info form style */
.info form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* info buttons style incl. hover and active states */
.info form button {
    font-family: 'Special Elite', monospace;
    font-size: 24px;
    padding: 20px 30px;
    border: 5px solid #000000;
    border-radius: 10px;
    background-color: #F07515;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.info form button:hover {
    background-color: #333333;
    color: #f0f0f0;
}

.info form button:active {
    transform: scale(0.95);
}

/* footer link style incl. hover and active states */
footer a {
    font-family: 'Special Elite', monospace;

    font-size: 24px;
    color: #662900;
    text-decoration: none;
}

footer a:hover {
    color: #000000;
    text-decoration: underline;
}

footer a:active {
    color: #333333;
}